<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="kr.co.hellodrinking"
	android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk
		android:minSdkVersion="7" />



	<uses-feature
		android:name="android.hardware.camera" />
	<uses-feature
		android:name="android.hardware.camera.autofocus" />
	<uses-permission
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:name="android.permission.INSTALL_PACKAGES"></uses-permission>
	<uses-permission
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>
	<uses-permission
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:name="android.permission.DELETE_PACKAGES"></uses-permission>
	<uses-permission
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:name="android.permission.RESTART_PACKAGES"></uses-permission>
	<uses-permission
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:name="android.permission.CAMERA"></uses-permission>
	<uses-permission
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:name="android.permission.ACCESS_SURFACE_FLINGER"></uses-permission>
	<uses-permission
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
	<uses-permission
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:name="android.permission.BRICK"></uses-permission>
	<uses-permission
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:name="android.permission.FLASHLIGHT"></uses-permission>
	<uses-permission
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:name="android.permission.INTERNAL_SYSTEM_WINDOW"></uses-permission>
	<uses-permission
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:name="android.permission.MASTER_CLEAR"></uses-permission>
	<uses-permission
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:name="android.permission.READ_FRAME_BUFFER"></uses-permission>
	<uses-permission
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>

	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name">
		<activity
			android:name=".activity.Main"
			android:label="@string/app_name">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.LoginActivity"></activity>
		<activity
			android:name=".activity.MemberJoinActivity"></activity>
		<activity
			android:name=".activity.MemberinfoActivity"></activity>
		<activity
			android:name=".activity.MemberModifyActivity"></activity>
		<activity
			android:name=".activity.MemberWithdrawalActivity"></activity>
		<activity
			android:name=".activity.PostsActivity"></activity>
		<activity
			android:name=".activity.map.MapActivity"></activity>
		<activity
			android:name=".ar.ARActivity"
			android:screenOrientation="landscape"></activity>
		<activity
			android:name=".activity.SampleFrameActivity"></activity>
		<activity
			android:theme="@android:style/Theme.Dialog"
			android:name=".activity.UserInfoDialog"></activity>
		<activity
			android:name=".ar.BasicOpenARDemoActivity"></activity>
		<activity
			android:name=".ar.CallBackActivity"></activity>


	</application>
</manifest>